{% extends 'base.html' %}
{% load static %}

{% block page_title %}BIODATA SANTRI{% endblock %}

{% block subtitle %}KELAS 10 A - ASRAMA IBN TAIMIYYAH{% endblock %}

{% block content %}

<div id="image-img">
        <h3 class="tag-2">
           <span class="tag">|</span>  Karya Nyolong
        </h3>
        <ul>
            <li><img src="https://i.pinimg.com/originals/54/7a/9c/547a9cc6b93e10261f1dd8a8af474e03.jpg" width="200px" height="150" alt="fox">Foto Rubah yang bertema <br> neon light</li>
            <li> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjKoj9WbpyBzfthcnaNU3cDHZk5UoaNlQyyA&s" width="200" height="150px" alt="laptop"> rog zephyrus g14 <br> laptop yang saya butuhkan.</li>
            <li><img src="https://image.idn.media/post/20230321/462f26c09e2047478e26fb1ec062a4e8-336250208-195378553122991-6737062074837096991-n-b9c7fac7543a061202919ad3b742ab1f-bc0cd7424d0026fd07120ad55b72b4b4.jpg" width="200" height="150px" alt="kucing">Anomali kucing <br> yang saya temukan</li>
        </ul>
    </div>
    <div class="vid">
        <h3 class="tag-2">
           <span class="tag">| </span>  Video nyolong
        </h3>
       <iframe width="560" height="315" 
       
       src="https://www.youtube.com/embed/x3vQ803oM04" 
       title="YouTube video player" 
       frameborder="0" 
       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
       allowfullscreen>
   </iframe>
    </div>

{% endblock %}