{% extends 'base.html' %} {% load static %} {% block title %}Biodata{% endblock %} {% block page_title %}BIODATA
SANTRI{% endblock %} {% block subtitle %}KELAS 10 A - ASRAMA IBN TAIMIYYAH{% endblock %} {% block content %}
<div class="bag-1">
  <h3><span class="tag">| </span>Pembawaan</h3>
  <p>
    Saya seorang pelajar dari <b>SMA IT HSI</b>. <br />
    Yang sangat ber- keinginan untuk paham dan ahli dalam bidang teknologi <br />
    Website ini di buat dengan kesungguhan dan ketekunan <br />
    ini website terkomplex yang saya buat pertama kali <br />
  </p>
</div>
<div class="bag-1">
  <h3><span class="tag">| </span>Minat saya</h3>
  <img
    src="https://dashboard.primakara.ac.id/uploads/small_full_stack_developer_adalah_28fc15e4c2.jpeg"
    width="250"
    alt="foto-fav"
  />
  <p>
    Saya tertarik untuk menjadi <b>PROGRAMMER</b> yang ahli & mahir dalam <br />
    bidang <i>FULLSTACK DEVELOPPER.</i>
  </p>
</div>
{% endblock %}
